@font-face {
    font-family: My-Balerno;
    src: url('./fonts/My-Creative-Land-Balerno-Serif-Bold.otf') format('opentype');
}

@font-face {
    font-weight: 400;
    font-family: 'OpenSans';
    src: URL('./fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-weight: 100;
    font-family: 'OpenSans';
    src: URL('./fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-weight: 600;
    font-family: 'OpenSans';
    src: URL('./fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-weight: 200;
    font-family: 'OpenSans';
    src: URL('./fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-weight: 700;
    font-family: 'OpenSans';
    src: URL('./fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

html, body {
    margin: 0;
    min-height: 100%;
    -webkit-text-stroke: 0px !important;
    -webkit-font-smoothing: antialiased !important;
}

.fp-section {
    z-index: -5;
}

.fp-tableCell {
    height: 100vh;
    position: absolute;
    top: 0;
}

.bgvideo video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    height: 100%;
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 75vw;
    top: 0;
    z-index: 1;
    margin: 3rem 0 3rem 20%;
}

.hamburger {
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburger span:first-child {
    transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menu {
    position: absolute;
    width: 30vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    border-left: 7px solid #0e468c;
    background: #ededf1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu li {
    padding: 10px 0;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: OpenSans;
}

.menu a:hover {
    color: #d83415;
}

.menusvg {
    width: auto;
    height: 200px !important;
    position: absolute;
    bottom: 20%;
}

.showNav {
    transform: translateX(-30%);
}

.showClose span {
    opacity: 1;
    transform: rotate(45deg);
    background: #232323;
}

.showClose span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.showClose span:nth-last-child(1) {
    transform: rotate(-45deg) translate(-4px, -1px);
}

.header img {
    height: 65px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.top-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.left-side {
    align-self: flex-start;
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.curve {
    display: block;
    z-index: -1;
    fill: #ffff;
}

.curve_blauw {
    display: block;
    position: absolute;
    top: 0;
    z-index: -2;
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0, 0.92, 0, 1) both;
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0, 0.92, 0, 1) both;
}

.curve_blauw_noanim {
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
}

.content {
    order: 1;
    margin: 10% 0 0 45%;
    font-family: OpenSans;
    font-size: 21px;
    opacity: 1;
    font-weight: 100;
    line-height: 32px;
}

.content p::selection {
    background: #d83415;
    color: white;
}

.menumedia {
    margin-top: 5em;
}

.media {
    order: 2;
    margin: 0 0 0 45%;
    font-size: 35px;
    opacity: 0.71;
}

box-icon {
    cursor: pointer;
}

box-icon:hover {
    opacity: 1;
    fill: #d83415;
}

.right-side {
    max-height: 100vh;
    flex-grow: 1;
    flex-basis: 55%;
    flex-shrink: 0;
}

.team-section {
    min-height: 100vh;
    z-index: 2;
}

.team {
    width: 100%;
}

.team h2 {
    font-family: My-Balerno;
    padding: 1em 10rem 0.7rem 15%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 65px;
    font-weight: 100;
    line-height: 1.8;
}

.teamdesc {
    margin: 2em 0 0 0;
    width: 100%;
    display: flex;
    font-family: OpenSans;
    font-size: 25px;
    opacity: 1;
    font-weight: 100;
    justify-content: center;
}

.teamsvg {
    position: absolute;
    bottom: 10%;
    right: 3%;
    height: 300px !important;
    width: auto;
}

.Elena, .Karel {
    border-radius: 0.2rem;
    margin: 0 2em;
    height: 60vh;
    width: 20vw;
    background-color: #ededf1;
}

.Elena p, .Karel p {
    text-align: center;
}

.trapezoid {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 65vh solid #0e468c;
    border-right: 30vw solid transparent;
    height: 0;
    width: 13%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    min-height: 74vh;
    position: relative;
}

#map {
    position: absolute;
    right: 10%;
    top: 20%;
    height: 40vh;
    width: 40vw;
    z-index: 10;
}

.contactdesc {
    margin: 4% 5rem 2rem 12%;
    font-family: OpenSans;
    font-size: 25px;
    opacity: 0.9;
    font-weight: 100;
}

.contactsvg {
    position: absolute;
    top: 200px;
    right: 8%;
    height: 300px !important;
    width: auto;
    z-index: -1;
}

.bfrarrow {
    margin-right: 3rem;
    position: relative;
}

.arrow {
    height: 40px;
    position: absolute;
    top: -20%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
    visibility: visible;
}

.arrow.open {
    height: 40px;
    position: absolute;
    top: -20%;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.1s linear;
    visibility: visible;
}

hr {
    margin: 1rem 73% 2rem 10%;
    color: #1c3c64;
    background-color: #1c3c64;
    height: 0.1px;
    border-color: transparent;
}

.contacthr {
    margin: 1rem 60% 2rem 10%;
}

.contact h2 {
    font-family: My-Balerno;
    margin: 7rem 10rem 2rem 10%;
    font-size: 50px;
    font-weight: 100;
    line-height: 1.8;
}

#fcf-form {
    display: block;
}

.fcf-body {
    margin: 3% 50% 0 12%;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 30px;
    padding-bottom: 10px;
    max-width: 100%;
    background-color: transparent;
    border-radius: 0.1rem;
}

.fcf-form-group {
    z-index: 10;
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.05rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: OpenSans;
    height: auto;
}

.fcf-btn {
    margin-top: 1.5rem;
    font-family: OpenSans;
    display: inline-block;
    font-weight: 400;
    color: #000000;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0.15rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-btn:hover {
    border: 1px solid rgba(55, 60, 65, 0.5);
    border-radius: 0.05rem;
    opacity: 1;
}

footer {
    position: relative;
    margin: 9rem 2rem 2rem 2rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-desc p {
    font-family: My-Balerno;
    font-size: 19px;
    opacity: 0.8;
    font-weight: 900;
    display: inline-block;
}

.footer-logo {
    margin: 0 4% 0 0;
    height: 45px;
    display: inline-block;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: rgb(146, 145, 145) !important;
}

@media screen and (max-width: 767px) {
    .top-section {
        flex-direction: column;
    }
    .header {
        position: fixed;
        height: 70vh;
        flex-direction: column;
    }
    .header-logo {
        margin: 50vh 0 1rem -5%;
        order: 2;
    }
    nav {
        order: 1;
        align-self: flex-end;
    }
    .header img {
        height: 80px;
    }
    .menu {
        height: 100vh;
        width: 220vw;
    }
    .right-side {
        order: 1;
        align-self: flex-start;
        display: flex;
    }
    .widthadept {
        z-index: 0;
        background-color: white;
        height: 100vh;
        width: 30vw;
    }
    .curve {
        width: 70vw;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .curve_blauw {
        width: 70vw;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;
    }
    .left-side {
        order: 2;
        min-height: 10vh;
    }
    .content {
        order: 1;
        margin: 10% 10% 0 10%;
    }
    .media {
        order: 2;
        margin: 5% 0 20% 10%;
    }
    .teamdesc {
        margin: 4% 1rem 2rem 12%;
        font-size: 20px;
        flex-direction: column;
    }
    .Elena, .Karel {
        margin: 2em 2em;
        height: 50vh;
        width: 60vw;
    }
    .teamsvg {
        position: relative;
        height: 200px !important;
        width: auto;
        z-index: 1;
        margin-left: 5em;
        margin-bottom: 2em;
    }
    .curve2 {
        width: 62%;
    }
    .curve_blauw_noanim {
        z-index: -2;
        height: 190vh;
    }
    .contact h2 {
        margin-top: 4rem;
        font-size: 35px;
        line-height: 1.8;
    }
    .contactdesc {
        margin-right: 0;
        z-index: 10;
    }
    .contactdesc a {
        mix-blend-mode: difference;
    }
    .contactsvg {
        position: absolute;
        top: 80%;
        left: 10%;
        height: 150px !important;
        width: auto;
        z-index: -1;
    }
    .fcf-body {
        margin: 4% 10% 2rem 5%;
    }
    footer {
        margin: 8rem 2rem 2rem 2rem;
    }
    .footer-desc p {
        font-size: 12px;
        opacity: 0.8;
    }
    .footer-logo {
        margin: 0 4% 0 0;
        height: 30px;
    }
}

@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: translate(-300px, 0px);
        transform: translate(-300px, 0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: translate(-300px, 0px);
        transform: translate(-300px, 0px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
}